OAUTH_MICROSOFT_CLIENT_ID=
OAUTH_MICROSOFT_CLIENT_SECRET=
OAUTH_MICROSOFT_AUTHORITY=
GROQ_API_KEY=
BOT_TOKEN=
OAUTH_MICROSOFT_REDIRECT_URL=http://localhost:8000/auth/microsoft/outlook/callback
OAUTH_MICROSOFT_AUTH_BASE_URL=https://login.microsoftonline.com/common/oauth2/v2.0/authorize
OAUTH_MICROSOFT_TOKEN_URL=https://login.microsoftonline.com/common/oauth2/v2.0/token
OAUTH_MICROSOFT_ME_URL=https://graph.microsoft.com/v1.0/me
TOKEN_ENCRYPTION_KEY=mYJ37S-p_zpxy8Cyf3YTBat6D1ljvqVx6MOHDAKO8z0=
SERVICE_BOT_SECRET=super-secret-key
OAUTH_MICROSOFT_EVENTS_URL=https://graph.microsoft.com/v1.0/me/calendar/events
OAUTH_MICROSOFT_CALENDAR_VIEW_URL=https://graph.microsoft.com/v1.0/me/calendar/calendarView
GROQ_REQUEST_URL=https://api.groq.com/openai/v1/chat/completions
AI_MODEL=llama-3.3-70b-versatile
BACKEND_URL=http://127.0.0.1:8000
DATABASE_URL="postgresql+asyncpg://postgres:password@localhost:5432/alpha_db"
REDIS_URL=redis://localhost:6379/0
FRONTEND_URL=http://localhost:5173
