*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #FFFFFF;
  color: #202024;
  min-height: 100vh;
}

.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

@media (max-width: 1200px) {
  .page-wrapper {
    padding: 0 20px;
  }
}